# Python libraries
pyautogui
requests
opencv-python
python-dotenv

# OpenAI library
openai

# GUI libraries
ttkthemes
tkinter

# Data processing and visualization
matplotlib

# Image processing
Pillow

# Other utilities
pytz
py2app